.select__item  {
	
	overflow: auto;
	flex: 33.3%;
	border-right: 1px solid #e6e4e4;
	text-transform: uppercase;
	&:last-child {
		border-right: none;
	}
	
}
.select-perfect-scroll {
	flex: 33.3%;
}
.select {
	width: 100%;
	
	position: relative;
	.fa-check  {
		position: absolute;
		right: 13px;
		top: 11.5px;
		color: #696969;
	}
}
.select-body {
	border: 1px solid #f3f3f3;
	margin-top: 10px;
	justify-content: center;
	border-radius: 5px;
	position: absolute;
	background-color: #fff;
	width: 100%;
	z-index: 10;
}
.select-input {
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-align: center;
    text-transform: uppercase;
}
.select__item__counter {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #f3f3f3;
	&:last-child {
		border-bottom: 1px solid #f3f3f3;
	}
	&.active {
		background-color:#e4f9fd;
		
	}
}


.field-box .select {
	max-width: 100%;
}