    <div class="modal-header">
      <h4 class="modal-title">Positions Awaiting Approval</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [formGroup]="newCrewForm">
      <ngb-tabset>
          <ngb-tab *ngFor="let dateForm of dateFormControls.controls;
          let i = index;"
          title={{availableDates[i]}} >
              <ng-template ngbTabContent [formGroup]="dateForm">
                  <div class="row" style="padding-bottom:10px; padding-top:10px;">
                      <div class="col-md-2">
                        Position
                      </div>
                      <div class="col-md-2">
                        Call Time
                      </div>
                      <div class="col-md-4  ">
                        Current Crew Member
                      </div>
                      <div class="col-md-4">
                        Applicants
                      </div>
                  </div>
                  <div *ngFor="
                    let applicantForm of dateForm.controls.jobForms.controls;
                    let even = even;
                    let j = index;"
                    style="border-bottom: 1px solid grey; padding-bottom:5px; padding-top:5px;"
                    [ngStyle]="even && {'background-color': '#e6e6e6'}"
                    class="row">

                      <div class="col-md-2">
                        {{availableJobs[availableDates[i]][j].position}}
                      </div>
                      <div class="col-md-2">
                        {{availableJobs[availableDates[i]][j].callTime}}
                      </div>
                      <div class="col-md-4  ">
                        {{availableJobs[availableDates[i]][j].firstName}}  {{availableJobs[availableDates[i]][j].lastName}}
                      </div>
                      <div class="col-md-4" [formGroup]="applicantForm">
                        <select
                          formControlName="selectedApplicantId">
                          <option value="">Select</option>

                          <option *ngFor="let applicant of availableJobs[availableDates[i]][j].newApplicants"
                            [value]="applicant">
                            {{newApplicants[applicant].firstName}} {{newApplicants[applicant].lastName}}
                          </option>

                        </select>
                      </div>

                  </div>
              </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="saveEvent()" [disabled]="newCrewForm.invalid">Save</button>
    </div>