.email-msg {
  &__input {
	  margin-bottom: 10px;
  }

  &__textarea {
	  margin-bottom: 10px;
	  resize: vertical;
	  min-height: 38px;
	  max-height: 250px;
  }
}
.email-date {
	margin: 20px 0;
}
.email {
  padding: 20px;
}
// .date-grid {
// 	display: grid;
// 	grid-template-columns: 1fr 1fr 1fr;
// 	margin-bottom: 10px;
// }
.email-title {
	color: #666;
}

.mb20{
	margin-bottom: 20px;
}
// CHECKBOX
.waw-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  height: 25px;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // hidden toggle input
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input~.checkmark {
    border: 1.5px solid #30a4f7;
  }

  input:checked~.checkmark {
    background-color: #30a4f7;
    transition: 0.2s ease-in-out;
  }

  input:checked~.checkmark:after {
    display: block;
  }

  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    transition: 0.2s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 6px;
      height: 11px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.ml30 {
	margin-left: 30px;
}
.my10 {
	margin-top: 10px;
	margin-bottom: 10px;
}