<div class="reset-container container">
  <h1  style="color:white;">Reset Password</h1>
  <form [formGroup]="resetForm">
    <div class="text-danger mb-2" *ngIf="resetForm.hasError('notSame')">
        Passwords do not match
    </div>
    <div *ngIf="!errorMessage" class="row justify-content-md-center mb-2">
      <div class="col-md-auto">
        <input class="input-field" placeholder="Password" type="password" formControlName="password">
      </div>
    </div>
    <div *ngIf="!errorMessage" class="row justify-content-md-center mb-2">
      <div class="col-md-auto">
        <input class="input-field" placeholder="Confirm Password" type="password" formControlName="confirmPassword">
      </div>
    </div>
    <div *ngIf="errorMessage" class="row justify-content-md-center mb-2">
      <div class="col-md-auto">
        <input class="input-field" placeholder="Email" formControlName="email">
      </div>
    </div>

    <div class="mb-2" *ngIf="errorMessage">
        <div class="text-danger">{{errorMessage}}</div>
    </div>

    <div>
      <button type="button" class="btn btn-outline-light mr-2" routerLink="/login">Cancel</button>
      <button *ngIf="!errorMessage" type="submit" class="btn btn-primary"
        [disabled]="resetForm.hasError('notSame')" (click)="resetPassword()">
        Reset
      </button>
      <button *ngIf="errorMessage" type="button" class="btn btn-primary"
        (click)="sendResetLink()">Send Link</button>
    </div>
  </form>
</div>
