<form class="p20" (ngSubmit)="submit()">
	<button type="button" class="close outline-mutted" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="d-flex flex-column job-block">
		<div class="field-box">
			<div class="grid-row-3">
				<div>
					<span>Position</span>
					<select class="form-control" [(ngModel)]="job.position" (ngModelChange)="positionChanged()"  name="position">
						<option *ngFor="let position of ps._positions[os.org._id]" [value]="position.value">{{position.label}}
						</option>
					</select>
				</div>
				<div class="field-box__timeCol">
					<span>From</span>
					<time [value]="job.times.from" (update)="job.times.from=$event;"></time>
				</div>
				<div class="field-box__timeCol">
					<span>To</span>
					<time [value]="job.times.to" (update)="job.times.to=$event;"></time>
				</div>
			</div>
			<div class="grid-row-3">
				<div>
					<span>Rate</span>
					<input class="form-control" type="number" [(ngModel)]="job.rate" (ngModelChange)="job.fixed=null;" name="rate fill" placeholder="Rate">
				</div>
				<div>
					<span>Fixed</span>
					<input class="form-control" type="number" [(ngModel)]="job.fixed" (ngModelChange)="job.rate=null;" name="fixed fill" placeholder="Fixed">
				</div>
				<div>
					<span>Extra</span>
					<input class="form-control" type="number" [(ngModel)]="job.extra" name="extra" placeholder="Extra">
				</div>
			</div>
			<div class="grid-row-3">
				<div>
					<span>Note</span>
					<textarea class="form-control" type="text" [(ngModel)]="job.comment" name="comment" placeholder="Type your note"></textarea>
				</div>
				<div class="grid-grow-2" *ngIf="job.day">
					<span>Assign Member</span>
					<div class="waw-select">
						<div class="waw-select__header select-header__view" (click)="options[job.day]=!options[job.day];">
							<div class="word-nowrapBlock"><span class="word-nowrapElem">{{job.assigned&&(us._users[job.assigned]?.firstName+' '+us._users[job.assigned]?.lastName)||'Not Selected'}}</span></div>
							<span class="waw-select--item__right" *ngIf="job.assigned && !allow_alert(job.assigned, job.day)">Working on other event</span>
						</div>
						<div class="waw-select__body" [class._show]="options[job.day]">
							<div class="waw-select--item" (click)="job.assigned=null; job.force=true; options[job.day]=false;">
								<span class="waw-select--item__left font-normal">Not Selected</span>
                            </div>
                            <ng-container *ngIf="job.position&&us.org_pos[os.org._id+job.position]">
							<div class="waw-select--item" *ngFor="let user of (job.position&&us.org_pos[os.org._id+job.position]||us.users_current)" (click)="allow(user._id, job.day)&&job.assigned=user._id; allow(user._id, job.day)&&job.force=true; allow(user._id, job.day)&&options[job.day]=false;" [class._disabled]="!allow(user._id, job.day)">
								<div class="waw-select--item__left font-normal">
									<div>{{user.firstName}} {{user.lastName}}</div>
									<span class="word-break font-normal" *ngIf="by_group[user._id]?.length">
										<span class="waw-select--item__left-group" *ngFor="let group of by_group[user._id]" [style.background]="colors[group]"> {{group}}</span>
									</span>
								</div>
								<span class="waw-select--item__right" *ngIf="!allow_alert(user._id, job.day)">Working on other event</span>
                            </div>
                        </ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="my10" *ngIf="us.user.isAdmin && job.day && job.assigned">
				<div>
					<label class="waw-checkbox">
						<span>Require Hotel</span>
						<input type="checkbox" [(ngModel)]="job.need_hotel" name="date">
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="grid-grow-2" *ngIf="job.need_hotel">
					<span>Hotel Name</span>
					<input class="form-control" type="text" [(ngModel)]="job.hotel" name="extra" placeholder="Name">
				</div>
			</div>
			<div class="mt10" *ngIf="dates.length">
				<div>
					<div class="grid-row-3" *ngFor="let date of dates">
						<div>
							<span>Date</span>
							<div class="date-block my10">
								<label class="waw-checkbox">
									<span>{{date}}</span>
									<input type="checkbox" [(ngModel)]="_dates[date]" name="date">
									<span class="checkmark"></span>
								</label>

								<label class="waw-checkbox">
									<span>Require Hotel</span>
									<input type="checkbox" [(ngModel)]="need_hotel[date]" name="date">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
						<!-- second -->
						<div class="grid-grow-2">
							<span>Assign Member</span>

							<div class="my10">
								<div class="waw-select">
									<div class="waw-select__header" (click)="options[date]=!options[date];">
										<div>{{assigned[date]&&(us._users[assigned[date]]?.firstName+' '+us._users[assigned[date]]?.lastName)||'Not Selected'}}</div>
										<span class="waw-select--item__right" *ngIf="assigned[date] && !allow_alert(assigned[date], date)">Working on other event</span>
									</div>
									<div class="waw-select__body" [class._show]="options[date]">
										<div class="waw-select--item" (click)="assigned[date]=null; job.force=true; options[date]=false;">
											<span class="waw-select--item__left font-normal">Not Selected</span>
                                        </div>
                                        <ng-container *ngIf="job.position&&us.org_pos[os.org._id+job.position]">
										<div class="waw-select--item" *ngFor="let user of (job.position&&us.org_pos[os.org._id+job.position]||us.users_current)" (click)="allow(user._id, date)&&assigned[date]=user._id; allow(user._id, date)&&job.force=true; allow(user._id, date)&&options[date]=false;" [class.disabled]="!allow(user._id, date)">
											<div class="waw-select--item__left font-normal">
												<div>{{user.firstName}} {{user.lastName}}</div>
												<span class="word-break font-normal" *ngIf="by_group[user._id]?.length">
													<span class="waw-select--item__left-group" *ngFor="let group of by_group[user._id]" [style.background]="colors[group]"> {{group}}</span>
												</span>
											</div>
											<span class="waw-select--item__right" *ngIf="!allow_alert(user._id, date)">Working on other event</span>
                                        </div>
                                    </ng-container>
									</div>
								</div>
								<div class="grid-grow-2" *ngIf="need_hotel[date]">
									<span>Hotel Name</span>
									<input class="form-control" type="text" [(ngModel)]="hotel[date]" name="extra" placeholder="Name">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="job-btn d-flex justify-content-between mt10">
			<button class="btn btn-success" type="submit" [disabled]="!hasDate()">{{job._id&&'Save'||'Create'}}</button>

			<span *ngIf="job._id">{{job.day}}</span>
		</div>
	</div>
</form>