.btn-primary, .btn-cog {
    background-color: #ee352a;
    border-color: #ee352a;
    width: 100px;
    border-radius: 5px 5px;
    float:right;
    height:38px;
}

.btn-cog {
    background-color:goldenrod;
    width:40px;
    border-color: goldenrod;
}